// Colors
$color-primary: #e0a449;
$color-primary-hover: #c79c5c;
$color-secondary: #f17900;

// Text Colors
$color-text: #393939;
$color-text-gray: #9e9e9e;

// Background Colors
$color-bg-focus: #f3f3f3;
$color-bg-dark: #343333;
$color-bg-light: #ebebeb;
$color-white: #fff;

// UI Colors
$color-shadow: rgba(0, 0, 0, 0.128);
