.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(56rem, 100%);

    h1 {
      font-size: 4rem;
      color: #393939;
      text-align: center;

      .highlighted {
        color: #f17900;
      }
    }
  }

  .artworks-container {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    width: min(1400px, 100%);
  }
}
