@use '@/styles/variables' as *;

header {
  background-color: $color-bg-dark;
  height: 7rem;
  font-size: 1.2rem;
  color: $color-white;

  .header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;

    .logo {
      display: flex;
      align-items: end;
      gap: 0.5rem;
    }

    nav {
      display: flex;
      gap: 2rem;
      align-items: center;

      .nav-link {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: color 0.2s ease;

        &:hover {
          text-decoration: none;
          color: $color-text-gray;
        }
      }
    }

    a {
      text-decoration: none;
      color: $color-white;

      &:hover {
        text-decoration: underline;
        color: $color-white;
      }
    }

    @include mobile {
      padding: 0 1rem;
    }
  }
}
