.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    width: 3rem;
    height: 3rem;
    transform-origin: center;
    animation: spinner 0.75s infinite linear;
  }
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
