.footer {
  padding: 1rem;
  background-color: #fff;
  text-align: center;
  margin-top: auto;
  height: 5rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;

  .logo {
    padding: 0 10rem;

    display: flex;
    align-items: end;
    gap: 0.5rem;
  }
}
